{% extends 'notification/base_notification.html' %}
{% block title %} {{ _('Notification') }}{% endblock %}

{% block notification_content %}
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
    <ol class="breadcrumb breadcrumb-chevron pe-3 bg-body-tertiary rounded-3">
        <li class="breadcrumb-item">
            <a href="{{ url_for('main.index') }}"><i class="bi bi-house-door-fill"></i></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ _('Notification') }}
        </li>
    </ol>
</nav>

<h1>{{ _('Notification') }}</h1>


{% endblock %}