<div class="modal fade" id="createTriggerTypeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createTriggerTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createTriggerTypeModalLabel"><i class="bi bi-plus-circle"></i> {{ _('Create trigger type') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">{% include 'notification/trigger_type/form.trigger_type.create.html' %}</div>
        </div>
    </div>
</div>
