<button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#removeEventMember{{ member.id }}Modal">
    {{ _('Remove') }}
</button>

<div class="modal fade" id="removeEventMember{{ member.id }}Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="removeEventMember{{ member.id }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="removeEventMember{{ member.id }}ModalLabel">
                    <i class="bi bi-person-dash"></i> {{ _('Remove member from event') }}: {{ member.first_name }} {{ member.last_name }}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger mb-0" role="alert">
                    {{ _('Are you sure you want to remove this member from the event?') }}
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="{{ url_for('notification.remove_member_from_event', event_id=event.id, member_id=member.id) }}">
                    <i class="bi bi-trash"></i> {{ _('Remove') }}
                </a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>