<form action="{{ url_for('notification.add_member_to_group', group_id=group.id) }}" method="POST">
    {{ group_membership_form.hidden_tag() }}
    <div class="mb-3">
        {{ group_membership_form.member.label(class='form-label') }}
        {{ group_membership_form.member(class='form-control') }}
    </div>
    <div class="d-flex justify-content-end gap-2">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close') }}</button>
        {{ group_membership_form.submit(class='btn btn-success') }}
    </div>
</form>