{% if current_user.has_permission('notification.group.delete') %}
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteGroupModal">
    <i class="bi bi-trash"></i> {{ _('Delete group') }}
</button>

<div class="modal fade" id="deleteGroupModal" tabindex="-1" aria-labelledby="deleteGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteGroupModalLabel">{{ _('Delete group') }}: {{ group.name }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">
                    <i class="bi bi-exclamation-triangle-fill"></i> {{ _('Are you sure you want to delete the group? This action cannot be undone.') }}
                </div>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('notification.group_delete', group_id=group.id) }}" class="btn btn-danger">{{ _('Delete group') }}</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}