{% if current_user.has_permission('notification.template.update') %}
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updateTemplateModal">
    <i class="bi bi-pencil"></i> {{ _('Edit template') }}
</button>

<div class="modal fade" id="updateTemplateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateTemplateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateTemplateModalLabel">
                    <i class="bi bi-pencil"></i> {{ _('Edit template') }}: {{ template.code }}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'notification/template/form.template.update.html' %}
            </div>
        </div>
    </div>
</div>
{% endif %}
